.wrapper {
	position: relative;
}

.rating {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.item {
	padding-right: 5px;
}

.item_editable {
	cursor: pointer;
}

.item:last-child {
	padding-right: 0;
}

.filled {
	fill: var(--primary);
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;

	bottom: -16px;
	left: 0;

	color: var(--red);

	font-size: 14px;
}
