.form {
	display: grid;

	color: var(--black);

	font-size: 14px;
	font-weight: normal;
	gap: 20px 30px;
	grid-template-columns: [start] auto auto 1fr [end];
}

.estimation {
	display: flex;
	align-items: center;
	justify-self: right;
}

.estimationLabel {
	margin-right: 20px;
}

.textarea,
.submit {
	grid-column: start / end;
}

.submit {
	display: flex;
	align-items: center;
}

.submitLegend {
	margin-left: 15px;
}

.panel {
	position: relative;

	margin-top: 20px;

	padding: 20px;

	border-radius: 5px;
}

.success {
	background-color: var(--green-light);
}

.successTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.panelClose {
	position: absolute;

	top: 10px;
	right: 10px;

	padding: 0;

	cursor: pointer;

	border: none;
	background-color: transparent;
}

.error {
	color: var(--red);

	background-color: var(--red-light);
}

.errorClose svg {
	stroke: var(--red);
}

@media screen and (max-width: 1100px) {
	.form {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.estimation {
		justify-self: left;
	}
}

@media screen and (max-width: 500px) {
	.form {
		grid-template-columns: [start] 1fr [end];
	}
}
