html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background-color: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--gray: #EBEBEB;
	--gray-dark: #6C7077;
	--primary: #7351F5;
	--primary-hover: #5C34FC;
	--green: #127A4F;
	--green-light: #C8F8E4;
	--background: #F5F6F8;
	--red: #FC836D;
	--red-light: #FBBAAE;
	--font-family: 'Noto Sans KR', sans-serif;
	--big-font-size: 18px;
	--medium-font-size: 16px;
	--small-font-size: 14px;
}
