html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background-color: var(--background);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--gray: #EBEBEB;
	--gray-dark: #787D85;
	--primary: #7653FC;
	--primary-hover: #5C34FC;
	--grern: #1DC37E;
	--green-lite: #C8F8E4;
	--background: #F5F6F8;
	--font-family: 'Noto Sans KR', sans-serif;
	--big-font-size: 18px;
	--medium-font-size: 16px;
	--small-font-size: 14px;
}
